/*Body rules */
body {
    text-align: center;
    background: #a1ffce;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fafdd1, #a1ffce);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fafdd1, #a1ffce); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* Header rules */
h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}


h2 {
    font-family: 'Delius', cursive;
    font-size: 30px ;
    margin: 1em 0 0.25em;
}


h2:first-of-type {
    margin-top: 0.5em;
}


/* Size picker form rules */
#sizePicker {
    margin-top: 20px;
}


label {
    font-family: 'Varela Round', sans-serif;
    font-size: 24px;
}


input[type=number] {
    border-radius: 5px;
    height: 30px;
    margin: 0 15px;
    width: 100px;
    background-color: #e9fcfc;
    border: 0;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    padding-left: 10px;
}


input[type=number]:focus{
    outline-color: #b2ff59;
}


input[type=submit]{
    display: block;
    margin: 30px auto;
    border: solid thin #4ebbb5;
    background-color: #4ebbb5;
    color: #fff;
    font: 'Varela Round', sans-serif;
    font-size: 22px;
    padding: 15px 40px;
    transition: 0.2s;
}


input[type=submit]:hover{
    background-color: #fff;
    color: #4ebbb5;
}


/* Color picker rules */
#colorPicker {
    border:0;
    background-color: rgba(0,255,0,0.2);
    width: 90px;
    height: 40px;
    padding: 8px;
    margin-top:10px;
}


/* Grid rules */
table,
tr,
td {
    border: 1px solid black;
}


table {
    border-collapse: collapse;
    margin: 20px auto;
}


tr {
    height: 20px;
}


td {
    width: 20px;
    background-color: transparent;
}


/* Grid Control Rules*/
#gridControls {
    display: none;
}